<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
<h1>Homepage</h1>
<p>
Aloha and welcome to our page. Please agree to the following terms and conditions before proceeding. 
You as a user/observer will abide by the following rules:
<li>
                   Posting of information of other persons, including but not limited to
                Full or partial nudity
               Addresses or vehicles owned
               Social media information
              Employment or related information 
              Family and/or friends 
              <input type="checkbox" name="option[]" value="option1" required/>
</li>
</p>
  </body>
</html>
