<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
<h1>Homepage</h1>
<p>
    Welcome to our page. Feel free to login, take a look around or if you're not a emmber sign up ^_^. 
</p>
  </body>
</html>
