<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <h1>User Home Page</h1>
    <nav>
        <ul>
            <li>
                <% for(let i =0; i < user.length; i++){ %>

                <form action="/user/<%=user[i].id%>" method="GET">
                    <a href="/user/<%=user[i].id%>">
                        <%=user[i].name%>
                    </a>
                </form>
                <% } %>

            </li>
        </ul>
    </nav>

</body>

</html>
