<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <h1>Home Page</h1>
    <nav>
        <ul>
          <li> Log In </li>
          <form action="/user" method="POST">
      <li><a href="/user/new">Sign Up</a></li>
          </form>
           
        </ul>
    </nav>

</body>

</html>
