<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<h1>New User</h1>
<body>
    <form action="/user/" method="POST"><br>
       Name: <input type="text" name="name" value=""><br>
       Username: <input type="text" name="username" value=""><br>
       Password: <input type="text" name="password" value=""><br>
       Location: <input type="text" name="location" value=""><br>
       Sex: </br> <input type="radio" name="sex" value="male"> male
                  <input type="radio" name="sex" value="female"> female</br></br>
       Image: <input type="text" name="img" value=""><br>
       Submit: <input type="submit" name="submit" id="">
    </form>
</body>

</html>
