<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Ex Index Page</h1>
    <nav>
      <ul>
        <li><a href="/">Add Ex</a></li>
        <li><a href="/">Your Profile</a></li>

      </ul>
    </nav>

  </body>
</html>
