<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Add an Ex</h1>
    <nav>
      <ul>
        <li><a href="/ex">Back</a></li>
      </ul>
    </nav>

    <form action="/ex" method="POST">
      Name: </br> <input type="text" name="name"></br></br>
      Location: </br> <input type="text" name="location"></br></br>
      Paste Image: </br> <input type="text" name="image"></br></br>
      Their Best Quality: </br> <input type="text" name="best"></br></br>
      Worst Quality: </br> <input type="text" name="worst"> </br></br>
      Attractiveness Scale 1-10: <input type="range" min="1" max="10" name="attractiveness"></br></br>
      Do they have a sense of humor?<input type="checkbox" name="humor"> </br></br>
      Are they Cheap? <input type="checkbox" name="cheap"></br></br>
      Good Attitude? <input type="checkbox" name="attitude"></br></br>
      Anything else you would like to add </br> <input type="text" name="description"></br>
      </br><input type="submit" value="Submit">
    </form>
    
  </body>
</html>
