<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
   <form action="/about" method="GET">
    <h1>About</h1>
    <h2>What is sting all about?</h2>
    <p>
This app is intended for anyone ages 18+ and is designed to help aid you in determining if someone is a suitable to date. It will provide real feedback from people that have dated that individual in order to give you a first hand account of what it is like to be with them. It's Yelp for humans!     </p>
    <h2>Wait isn't that half the fun?</h2>
    <p>
        Hell no! Sure, who doesn't like hearing the occasional story about how someone's date passed out on the first date from too many LIT's? Or how your date was so boring you faked going to the bathroom only to trip the fire alarm sneaking out the back door? BUT!! Overall we don't want to waste our time going on dates with people if we knew what they were like to begin with, nor do we want to date someone, only to find out 2 months in you were ghosted and they do that to EVERYONE. 
    </p>
    <h2>Rating your ex? Sounds dangerous.....</h2>
    <p>
        You would think so, but there are numerous precautions established.
            Users cannot post compromising material, meaning;
            <div id="rules">
        <li>
                No nudes
                No pictures of them in underwear
                No pictures of their homes
                No pictures of their cars
                No posting their social media accounts
                No posting of their job or information pertaining to
                No posting of their home address or license plates
        </li>
        </div>
      Any violation of these rules will result in content removal and indefinite user ban.  
    </p>
</body>
</html>