<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

  <h1>Register</h1>
  <form action="/login/register" method="POST">
       Name: <input type="text" name="name" value=""><br>
       Username: <input type="text" name="username" value=""><br>
       Password: <input type="text" name="password" value=""><br>
       Location: <input type="text" name="location" value=""><br>
       Sex: <input type="radio" name="sex" value="male"> male
            <input type="radio" name="sex" value="female"> female</br>
       Image: <input type="text" name="img" value=""><br>
       Submit: <input type="submit" name="submit" id="">
  </form>

  <h1>Login</h1>
  <form action="/login/login" method="POST">
    <input type="text" name="username">
    <input type="password" name="password">
    <button type="submit">Login</button>
  </form>

<h1>Logout</h1>
<form action="/logout" method="POST">
    <input type="submit" name="logout">
</form>
</body>
</html>
