<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">

    <title></title>
</head>

<body>
    <!--   Nav Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ex">Check out some exes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
            </ul>
        </div>
    </nav>
    <!--    Register -->

<ul class="row">
    <div class="col">
    <h1>Register</h1>

    <form action="/login/register" method="POST">
        Name: <input class="form-control" type="text" name="name" value="">
        Username: <input class="form-control" type="text" name="username" value="">
        Password: <input class="form-control" type="text" name="password" value="">
        Location: <input class="form-control" type="text" name="location" value="">
<!--
        <div class="col">
        Sex: <input class="form-control" type="radio" name="sex" value="male"> male
        <input class="form-control" type="radio" name="sex" value="female"> female
        <input class="form-control" type="radio" name="sex" value="other">
        other
        </div>
-->
        Image URL: <input class="form-control" type="text" name="img" value="">
        <button type="input" class="btn btn-secondary">Register</button>

    </form>
    </div>

    <!--If registered, login -->
    <div class="col">
    <h1>Login</h1>
    <form action="/login/login" method="POST">
        <input class="form-control col" type="text" name="username">
        <input class="form-control col" type="password" name="password">
<!--        <button class="col" type="submit">Login</button>-->
        <button type="input" class="btn btn-secondary">Login</button>
    </form>
</div>
    <!--Logout of session -->
<div class="col">
    <h1>Logout</h1>
    <form action="/" method="POST">
      <button type="input" class="btn btn-secondary">Logout</button>
    </form>

</div>
   </ul>

    <!--     footer -->
    <div class="footer fixed-bottom col">

        <footer>
            <hr>
            Created by
            <br>
            Alex Fields
            <a href="climberfields@gmail.com">climberfields@gmail.com</a>
            <br>
            Christine Samarchi
            <a href="csamarchi@gmail.com">csamarchi@gmail.com</a>
        </footer>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <!--    Footer-->

</body>

</html>
